<div>
  {% include imgur.html imgur = include.imgur %}
</div>
<dl class='polishes'>
  <dt>Polishes</dt>
  <dd>
    <ul>
    {% for polish in include.polishes %}
      <li>
        <i class='fa fa-hand-o-right'></i>
        {% include polish.html polish = polish %}
      </li>
    {% endfor %}
    </ul>
  </dd>
  {% if include.tools %}
  <dl>
    <dt>Tools</dt>
    <dd>
      <ul>
      {% for tool in include.tools %}
        <li><i class='fa fa-hand-o-right'></i> {{ tool }}</li>
      {% endfor %}
      </ul>
    </dd>
  </dl>
  {% endif %}
  {% if include.date %}
    <dl>
      <dt>Date</dt>
      <dd>
        <ul>
          <li><i class='fa fa-hand-o-right'></i> {{ include.date | date: "%Y-%m-%d" }}</li>
        </ul>
      </dd>
    </dl>
  {% endif %}
</dl>
