---
---

@import 'fonts';
@import 'bootstrap-custom';
@import 'bootstrap';

$footer-height: 40px;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;

  a:hover {
    text-decoration: none;
    color: $gray;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $brand-primary;

  margin-top: $padding-large-vertical;

  opacity: 1;
  color: white;
  height: $footer-height;

  padding: $padding-large-vertical $padding-large-horizontal;

  a {
    color: white;
  }

  a:hover {
    text-decoration: none;
    color: $gray;
  }
}

.manicure {
  .navigation {
    a {
      text-align: right;
    }
  }
}

.manicure-archive {
  dt {
    padding-top: $padding-large-vertical;
  }
}

.license {
}

.header {
  background-color: $brand-primary;
  height: 100px;
  top: 0;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 20px;
  position: relative;
  .slogan {
    color: white;
    font-weight: bold;
    font-size: 2em;
    position: absolute;
    bottom: 0;
    right: 10px;
  }
}
