---
layout: boilerplate
---

<div class='row'>
  <div class='col-md-3'></div>
  <div class='col-md-6 manicure'>
    <h1>{{ manicure.title }}</h1>
    {% include manicure.html imgur = page.imgur polishes = page.polishes tools = page.tools %}
    <div class='row navigation'>
      <div class='col-md-4'>

      </div>
      <div class='col-md-4'>
        <a href='/manicures/'>All manicures</a>
      </div>
      <div class='col-md-4'>
        
      </div>
    </div>
  </div>
  <div class='col-md-3'></div>
</div>
