---
layout: boilerplate
---

<div class='row'>
  <div class='col-md-3'></div>
  <div class='col-md-6 manicure'>
    {% include manicure.html imgur = page.imgur polishes = page.polishes tools = page.tools topcoats = page.topcoats date = page.date %}
    <div class='row navigation'>
      <div class='col-md-12'>
        {% assign match = false %}
        {% assign any = false %}
        {% for other_mani in site.categories.manicures %}
          {% if match == true %}
            {% if page.url > other_mani.url %}
              <a href='{{ other_mani.url }}'>Previous</a>
              {% assign any = true %}
            {% endif %}
            {% break %}
          {% endif %}
          {% if page.url == other_mani.url %}
            {% assign match = true %}
          {% endif %}
        {% endfor %}
        {% unless any %}
          <span class='inactive'>Previous</span>
        {% endunless %}
        |
        <a href='/manicures/'>Full list</a>
        |
        {% assign match = false %}
        {% assign any = false %}
        {% for other_mani in site.categories.manicures reversed %}
          {% if match == true %}
            {% if page.url < other_mani.url %}
              <a href='{{ other_mani.url }}'>Next</a>
              {% assign any = true %}
            {% endif %}
            {% break %}
          {% endif %}
          {% if page.url == other_mani.url %}
            {% assign match = true %}
          {% endif %}
        {% endfor %}
        {% unless any %}
          <span class='inactive'>Next</span>
        {% endunless %}
      </div>
    </div>
  </div>
  <div class='col-md-3'></div>
</div>
